.bg-container {
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.heading {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
  width: 40%;
}

.paragraph {
  font-size: 13px;
  font-family: 'Roboto';
  color: #ffffff;
}

.input {
  width: 40%;
  border: 1px solid #e4e7eb;
  color: #e4e7eb;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  margin-top: 10px;
}

.letters-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  height: 15vh;
  width: 55%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-logo {
  height: 50vh;
}

.letter-heading {
  font-size: 25px;
  color: #219a6f;
  font-family: 'Roboto';
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .img-logo {
    height: 30vh;
    order: 0;
  }

  .input-container {
    width: 80%;
    order: 3;
    align-self: ;
    text-align: left;
  }

  .heading {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto';
    color: #ffffff;
    text-align: center;
    width: 100%;
  }

  .paragraph {
    font-size: 13px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-left: 50px;
  }
  .letters-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    height: 6vh;
    width: 50%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    margin-left: 50px;
  }
  .letter-heading {
    font-size: 15px;
    color: #219a6f;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .input {
    margin-left: 50px;
  }
}
